#App
PORT=

NODE_ENV=

#Postgres
#values used for docker-compose to up container
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB= #name in docker-compose


#Postgres (Prisma)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

#Redis (BullMQ + Cache)
#the same host/port of redis container in docker compose
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=        #if u dont have password in redis local, let void

#IsThereAnyDeal API(https://isthereanydeal.com/apps/my/)
ITAD_API_KEY=

#enableCors
ORIGIN=

JWT_SECRET=

